/*
.footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;

    bottom: 0;
    left: 0;
    width: 100%;
}
*/

.footer {
    position:relative;
    top: 0vh;
}

.footer-up {
    overflow: hidden;
    background-color: #D9D9D9;
    padding: 30px 30px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-height: 130px;

}

.footer-up-text1 {
    padding: 20px 0px;

    text-decoration: none;
    font-size: 18px;
    line-height: 0px;
    border-radius: 4px;

    color: black;
}

.footer-up-link {
    padding: 0px 0px;

    text-decoration: none;
    font-size: 13px;
    line-height: 25px;
    border-radius: 4px;

    color: black;
}

.footer-down {
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 10px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-height: 100px;
}

.footer-NPR-picture {
    position:absolute;
    bottom: -125px;
    left: -105px;
    width: 300px;
    height: auto;
}

/*
padding: 10px;
    background-color: grey;


 */