.header {
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;

    position: fixed;
    width: 100%;
    z-index: 2; /*хедер покрывает всё*/

    background-color:white;
    /*background-color: #947070;
    */
}

.header-logo {
    font-family: 'Inter';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;

    color: black;

    margin-left: 15px;

    /* тень
    color: #000000;
    #border: 1px solid #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-right: 50px;
}

.header-components {
    position: relative;

    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;

    color: black;

    margin-right: 20px;
}

.header-autorisation {
    position: relative;

    text-align: center;
    padding: 12px; /*ширина кнопки*/

    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 4px;

    color: black;

    background: #D3F2FF;
    color: #676767;
    border-radius: 30px;
}