/*margin - это отступы*/
.main-aside {
    margin-bottom: 30px;
}

.main-part-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
}

.main-part-1-txt1 {
    align-items: center;
    height: 300px;
    margin-top: 100px;
    margin-bottom: -80px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 80px;
    line-height: 90px; /*расстояние от слов*/
    word-break: break-all;
}

.mini-rectangle {
    width:200px;
    height:5px;
    background: #000000;
}

.main-part-2 {
    height: 800px;
    position: relative;
}

.main-part-2-txt0 {
    position: absolute;
    top: 0px; left: 77px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.main-part-2-txt1 {
    width: 371px;

    position: absolute;
    top: 130px; left: 409px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.53);
}

.main-part-2-txt2 {
    width: 639px;

    position: absolute;
    top: 370px; left: 534px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.53);
}

.main-part-2-pic1 {
    width: 200px;
    height: 200px;

    position: absolute;
    top: 140px; left: 880px;
}

.main-part-2-pic2 {
    position: absolute;
    width: 172px;
    height: 133px;
    left: 237px;
    top: 420px;

    border-radius: 5px;
}

.main-part-2-pic3 {
    position: absolute;
    width: 175px;
    height: 133px;
    left: 490px;
    top: 650px;
}

.main-part-2-pic4 {
    position: absolute;
    width: 135px;
    height: 133px;
    left: 884px;
    top: 650px;
}

.main-part-3 {
    height: 800px;
    position: relative;
}

.main-part-3-txt1 {
    position: absolute;
    left: 80px;
    top: 302px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.main-part-3-pic1 {
    position: absolute;
    width: 874px;
    height: 624px;
    left: 422px;
    top: 0px;
}

.main-part-4 {
    height: 440px;
    position: relative;
}

.main-part-4-txt1 {
    position: absolute;
    left: 770px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.main-part-4-pic1 {
    position: absolute;
    width: 655px;
    height: 401px;
    left: 20px;
    top: 0px;
}

.main-part-5 {
    height: 320px;
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-items: center;

    background: #1F0052;
}

.main-part-5-txt1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

    margin-top: 90px;
}

.main-part-5-auth {
    text-align: center;
    padding: 12px 50px; /*ширина кнопки*/

    font-family: 'Inter';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;

    color: white;

    background: #3C5BFF;
    border-radius: 30px;

    margin-top: 40px;
}
