.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-sizing: border-box;
    padding: 18px 25px 24px;

    border: 1px solid #000000;
    border-radius: 10px;

    text-decoration: none;
    color: black;

    /*
    width: 280px;
    min-height: 130px;
    */

    min-height: 141px;
}

.post-name {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.post-family {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    margin-top: 13px;

    color: #8F8F8F;
}